<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js" integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <title>Dashboard</title>
</head> 
<body class="bg-gray-200">
    <!-- Header -->
    <header class="bg-white px-5 shadow-md">
        <div class="flex items-center justify-between ">
            <div class="quicksand text-white text-xl font-bold flex justify-center items-center">
                <img src="../images/logo.png" class="h-20 w-20 object-cover" alt="">
                <p class="text-black">Health App</p>
            </div>
            <div>
               
            </div>
            <div class="flex items-center">
                <!-- User Profile -->
                <div class="text-black mr-4">Bruno </div>
                <button id="logout" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Logout</button>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mx-auto p-4 mt-4">
        <!-- Analytics Modal -->
        <button id="openModal" class="bg-[#1c8098] text-white px-4 py-2 rounded ">Add Analytics</button>

        
<div class=" mt-4 custom-container">
  <h1 class="josefin text-center text-2xl font-bold">Highest Records Statistics</h1>
  <div class="flex justify-center items-center row">
      <div class="custom-card space-y-4">
        <h4 class="josefin text-center text-xl text-[#FF000080] font-bold">Highest Blood Pressure</h4>
        <p class="mooli text-center text-xl "> 130/85 mmHg</p>
    </div>
      <div class="custom-card  space-y-4">
        <h4 class="josefin text-center text-xl text-[#2596BE] font-bold">Highest Heart Rate</h4>
        <p class=" mooli text-center text-xl "> 80 bpm</p>
    </div>
      <div class="custom-card  space-y-4">
        <h4 class="josefin text-center text-xl text-[#1c8098] font-bold">Highest Body Temperature</h4>
        <p class="mooli text-center text-xl "> 99.2°F</p>
    </div>
  </div>
</div>
        <!-- Analytics Chart -->
        <div class="flex flex-row w-full h-[70vh] space-x-6 mt-3 justify-center items-center">
            <!-- First div with the chart -->
            <div class="bg-white w-[67%] h-[100%] rounded shadow p-4">
                <canvas id="analyticsChart" class="h-[100%] w-[100%]"></canvas>
            </div>
        
            <!-- Second div with the user profile -->
            <div class="bg-white flex w-[30%] rounded h-[100%] shadow p-4">
                <div class="text-center w-full">
                    <h1 class="p-2 mb-2 font-bold text-lg">User Profile</h1>
                    <!-- Profile Pic -->
                    <img src="../images/profile.jpg" alt="Profile Picture" class="w-[35%] h-[25%] mx-auto object-cover rounded-full mb-4">
                    
                    <!-- User Information -->
                    <div class="flex flex-col space-y-10 justify-center items-start "> 
                    <div class="flex items-center justify-between w-[100%] mt-4 "> 
                        <p class="poppins text-lg text-black w-[50%] flex justify-center items-start ">Username:</p>
                        <p class="mooli text-md text-gray-600 w-[50%] flex justify-center items-start " id="username">Bruno</p>
                    </div>

                    <div class="flex items-center justify-between w-[100%]"> 
                        <p class="poppins text-lg text-black w-[50%] flex justify-center items-start">Password:</p>
                        <p class=" mooli text-md text-gray-600 w-[50%] flex justify-center items-start " id="password">********</</p>
                    </div>

                    <div class=" poppins flex items-center justify-between w-[100%]"> 
                        <p class="text-lg text-black text-left w-[50%] flex justify-center items-start ">Analytics:</p>
                        <p class=" mooli text-md text-gray-600 w-[50%] flex justify-center items-start" id="analtytics">10</p>
                    </div>

                    <div class="poppins flex items-center justify-between w-[100%]"> 
                        <p class="text-lg text-black w-[50%] flex justify-center items-start">Email:</p>
                        <p class="mooli text-md text-gray-600 w-[50%] flex justify-start items-start" id="email">user@example.com</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        <!-- Analytics Table -->
        <div class="table-responsive">
            <table class="table bg-white mt-4 custom-table">
              <thead class="shadow-md text-[#22543D]">
                <tr>
                  <th class="text-center px-4 py-2">ID</th>
                  <th class="text-center px-4 py-2">Body Temperature</th>
                  <th class="text-center px-4 py-2">Blood Pressure</th>
                  <th class="text-center px-4 py-2">Heart Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td class="text-center px-4 py-2">1</td>
                  <td class="text-center px-4 py-2">98.6°F</td>
                  <td class="text-center px-4 py-2">120/80 mmHg</td>
                  <td class="text-center px-4 py-2">75 bpm</td>
                </tr>
                <tr>
                  <td class="text-center px-4 py-2">2</td>
                  <td class="text-center px-4 py-2">99.2°F</td>
                  <td class="text-center px-4 py-2">130/85 mmHg</td>
                  <td class="text-center px-4 py-2">80 bpm</td>
                </tr>

                <tr>
                    <td class="text-center px-4 py-2">2</td>
                    <td class="text-center px-4 py-2">99.2°F</td>
                    <td class="text-center px-4 py-2">130/85 mmHg</td>
                    <td class="text-center px-4 py-2">80 bpm</td>
                  </tr>

                  <tr>
                    <td class="text-center px-4 py-2">2</td>
                    <td class="text-center px-4 py-2">99.2°F</td>
                    <td class="text-center px-4 py-2">130/85 mmHg</td>
                    <td class="text-center px-4 py-2">80 bpm</td>
                  </tr>

                  <tr>
                    <td class="text-center px-4 py-2">2</td>
                    <td class="text-center px-4 py-2">99.2°F</td>
                    <td class="text-center px-4 py-2">130/85 mmHg</td>
                    <td class="text-center px-4 py-2">80 bpm</td>
                  </tr>


                  <tr>
                    <td class="text-center px-4 py-2">2</td>
                    <td class="text-center px-4 py-2">99.2°F</td>
                    <td class="text-center px-4 py-2">130/85 mmHg</td>
                    <td class="text-center px-4 py-2">80 bpm</td>
                  </tr>
                <!-- Add more rows and data as needed -->
              </tbody>
            </table>
          </div>
          

        <!-- Pagination -->
        <div class="mt-4">
            <ul class="flex list-none">
                <li class="mr-2"><a href="#" class="bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600">1</a></li>
                <li class="mr-2"><a href="#" class="bg-blue-500 text-white px-3 py-2 rounded hover-bg-blue-600">2</a></li>
                <!-- Add more pages as needed -->
            </ul>
        </div>
    </div>

<!-- Analytics Modal -->
<div id="analyticsModal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden bg-[#00000091]">
    <div class="modal-content  h-[80%] w-[50%] flex justify-center items-center">
        <!-- Close Icon -->
        <div class="w-[100%] bg-white rounded-lg shadow-xl dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-between items-center">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Create New Analytics
                    </h1>
                        <span id="closeModal" class=" top-0 right-0 m-4 border-2 border-red-600 rounded-[50%] px-2 text-gray-500 cursor-pointer text-2xl text-red-500">&times;</span>
                </div>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="blpod pressure" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Blood Pressure</label>
                        <input type="text" name="blood_pressure" id="blood_pressure" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>

                    <div>
                        <label for="body temperature" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Body Temperature</label>
                        <input type="text" name="body_temperature" id="body_temperature" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>

                    <div>
                        <label for="heart_rate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Heart Rate</label>
                        <input type="text" name="heart_rate" id="heart_rate" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                
                    <button type="submit" class="w-full text-white bg-[#1c8098] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an Analytic</button>
                </form>
            </div>
        </div>
        
    </div>
</div>

    

    <script src="../scripts/index.js">
       
    </script>
</body>
</html>
